<div class="row">

  <h1> Search results <small> <%= params[:q] %> </small> </h1>
<% if flash[:notice] %> 
<div  class="alert alert-success block custom_margin10">

  <%= flash[:notice] %>

</div>
<% end %> 
</div>
<div class="row hidden-xs">
  
</div> 



<% if @tweets.empty? %> 
<div  class="alert alert-error block custom_margin10">
  No results found for "<small><%= params[:q] %></small>"
</div>

<% else%> 
<div class="box row ">
<%= render 'list' , :tweets => @tweets %>
</div>
<% end %>
  



